 .azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: Extra-bold;
    font-style: normal;
 }
 /* header-section */
 .banner-section{
    background-image: url('../assets/Hero-bg.png');
    width: 1440px;
    height: 652px;
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
 }
 /* banner */
 .banner{
    position: relative;
    padding-top: 50px;
    
 }
  .banner-title{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
    

  .banner-descrption{
    gap: bottom 30px;
  }


  /* nav section */
.btn-pre{
   background-color: white;
   font-weight: 300px;
   font-size: 20px;
   color: #0D1321;
   padding: 10px 35px;
   border-radius: 5px;
   border: 1px solid #0D1321;
   margin: 0px auto;
   width: left 150px;
   margin-left: 800px;
}
.title-top{
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin: 0px 200px;
}
.nav-title{
    font-weight: bold;
}
/* banner-section */
.banner-section{
    color: #0D1321;
}
/* btn-prime */
.btn-prime{
    color: #FFFFFF;
    background-color: #0D1321;
    padding: 17px 35px;
    border-radius: 5px;
    font-weight: 300px;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 40px;
   
}
  /* main styles */

/* why web development */
.webd-parent{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 50px;
    background-color: #f5f4f4;
   
}

    

main{
    margin-top: 130px;
    margin-bottom: 130px;
    max-width: 1120px;
    height: auto;
    margin: 0 auto;
}
.normal{
   
    margin-bottom: 0 auto;
    padding: 12px 17px;
    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 18px;
    padding-left: 47px;
    padding-right: 47px;
    margin-bottom: 48px;
}
.all-items{
    background-color:white;
    padding: 25px;

}

 .world-title{
     color: #0D1321;
}
.section-title{
    color: #000000;
}
/* all banner  p section  */
 .banner-description{
     color: #0D1321;
}
/* all-item */
.all-item{
    display: flex;
    flex-direction: row;
    background-color: #fcfcfc;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
 }
 .world-parent{
     padding: 10px 10px;
 }

/* btn-primary */
.btn-primary{
    padding: 8px 35px;
    margin-top: 15px;
    font-size: 20px;
    color: black;
    background-color: #FFFFFF;
}

/* youtube section */
.sec-tube{
    margin-top: 40px;
    text-align: center;
    width: 940px;
    height: 475px;
    padding: 140px 140px;
    padding-top: 26px;
}
.iframe-youtube{
    border:1px solid black;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    border-radius: 5px;
}
iframe{
    border-radius: 5px;
}
/* current target */
.current-sec{
    text-align: center;
    
}
.skill-container{
    display: flex;
    gap: 24px;
   padding-left: 185px;
}
.skill{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
    width: 250px;
}
div a{
    color: #1E1E1E;
}
